@import './config';

.timer {
  font-family: $font-family-primary;
  font-size: 18px;
  color: $text-primary-color;

  @media (min-width: 500px) and (min-height: 600px) {
    font-size: 24px;
  }

  &__wrapper {
    width: 110px;

    @media (min-width: 500px) and (min-height: 600px) {
      width: 138px;
    }
  }
}
