@import './config';

.win-alert {
  @keyframes jump {
    0% {
      transform: translateY(-45vh);
    }
    100% {
      transform: translateY(-50vh);
    }
  }

  @keyframes fall {
    0% {
      transform: translateY(-1010px);
    }

    100% {
      transform: translateY(-45vh);
    }
  }

  @media (min-height: 1100px) {
    @keyframes jump {
      0% {
        transform: translateY(-30vh);
      }
      100% {
        transform: translateY(-35vh);
      }
    }

    @keyframes fall {
      0% {
        transform: translateY(-1010px);
      }

      100% {
        transform: translateY(-30vh);
      }
    }
  }

  &__wrapper {
    animation: fall 1s ease-in-out,
      jump 500ms ease-in-out alternate infinite 1000ms;
    position: absolute;
    width: 100%;

    svg {
      position: relative;
      width: 100%;
    }
  }
}
